@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap");
body {
  font-family: "Roboto", sans-serif;
}
.topleftbox {
}
a.moiz {
  color: brown;
  text-decoration: none;
}
a {
  color: inherit;
  text-decoration: none;
}
.maintopbox {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  gap: 1rem;
}
.topleftbox {
  margin-top: 50px;
  margin-left: 180px;
  margin-right: 100px;
  width: 200px;
  height: 100px;
  text-align: center;
}
div {
  margin-top: 10px;
}
span > hr {
  width: 40px;
  border-top: 2px solid green;
}
img {
  margin-top: 10px;
  margin-left: 100px;
  margin-right: 100px;
  width: 100px;
  height: 180px;
}
.toprightbox {
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 180px;
  width: 200px;
  height: 100px;
  text-align: center;
}
.bar {
  display: flex;
  text-transform: uppercase;
  font-size: 1.25rem;
}
.barchild {
  border-right-width: 1px;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  margin-left: 230px;
  margin-right: 50px;
  align-items: center;
  font-size: 1.25rem;
}
.link {
  margin-right: 10px;
  margin-left: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.ali {
  border: 1px solid black;
}
.iconsearch {
  width: 32px;
  height: 20px;
  margin: inherit;
  display: inline-block;
}
.spaceline {
  width: 2px;
  height: 27px;
  margin: -7px;
  padding: 0px;
  display: inline-block;
  background-color: black;
  border: none;
}
.search {
  display: inline;
  margin: 0%;
  padding: 0%;
}
.link:hover {
  color: #f0b560;
}
